body {
  font-family: Helvitca, sans-serif;
  background-color: pink};

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.burgerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

aside { flex: 1 auto; }

.left {
  display: flex;
  justify-content: flex-start;
  background: yellow;
  margin: 0;
  flex-direction: column;
} 

.right {
  display: flex;
  align-items: start;
  background: orange;
  flex-direction: column;
}

.center {
  display: flex;
  background: green;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  padding: 5px;
  margin: 5px;
}
