body {
  font-family: Helvitca, sans-serif;
  background-color: pink};

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.burgerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  /* background: yellow; */
  margin: 0;
  flex-direction: column;
} 

.right {
  display: flex;
  align-items: center;
  /* background: orange; */
  flex-direction: column;
}

.center {
  display: flex;
  /* background: green; */
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  padding: 5px;
  margin: 5px;
}



@media all and (max-width: 950px) {
  .left { order: 2; } 
  .center   { order: 1; }
  .right { order: 3; }
}

@media all and (min-width: 951px) {
  .burgerCol { flex: 1 0 0; }
  .left { order: 1; } 
  .center   { order: 2; }
  .right { order: 3; }
}
